/* task 0 */
body {
    font-family: Arial, sans-serif;
}
  
form {
    width: 300px;
    margin: 0 auto;
}
  
.section {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



/* task 1 */
body {
  font-family: Arial, sans-serif;
}

form {
  width: 300px;
  margin: 0 auto;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}



/* task 2 */
body {
    font-family: Arial, sans-serif;
}
  
form {
    width: 300px;
    margin: 0 auto;
}
  
.section {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input[type="text"], input[type="file"], textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
  
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #45a049;
}